<li>
  <%= gravatar_for user, size: Settings.gravatarsize %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !user.current_user?(current_user) %> |
    <%= link_to t("users.delete.del"), user, method: :delete,
    data: { confirm: t("users.delete.confirm") } %>
  <% end %>
</li>
