# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 5d650c8686d4b4a4a80d1947b271a115378e8e7fd30a340fa3e64141f8e8bfd2c556225a1f854e57a34529b17fbe2ca0cd7376230b2027e56641e790dcb75611

test:
  secret_key_base: da9139d6571e71e1ee9548893b36a13634409b594852a9575d28cd5f2187350b87349ed2929097f5b8e745e650b8e593be29cfc8e403e9693eb5d21c95f59305

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
