<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("static_pages.home.name"), "#", class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home.titlepg"), root_path %></li>
        <li><%= link_to t("static_pages.help.titlepg"), help_path %></li>
        <li><%= link_to t("static_pages.header.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
